[submodule "src/theme/themes-cdn"]
	path = src/theme/themes-cdn
	url = https://github.com/wet-boew/themes-cdn
[submodule "src/theme/wet-boew-cdn"]
	path = src/theme/wet-boew-cdn
	url = https://github.com/wet-boew/wet-boew-cdn
