body {
<<<<<<< HEAD
    font:    200%;
    height:    100vh;
    font-family:    Lato,    sans-serif;
    margin:    0;
=======
	font:	200%;
	font-family:	Lato,	sans-serif;
	height:	100vh;
	margin:	0;
>>>>>>> 0692ee7ea4a21755f83e2757d704ae626380a993
}

.calculator {
    height:    100%;
    margin:    0    auto;
    max-width:    400px;
}

.window {
    box-sizing:    border-box;
    color:    #f00;
    font-size:    48pt;
    height:    25%;
    padding:    10%    5%    5%;
    text-align:    right;
}

.button {
    background-color:    transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    box-sizing: border-box;
    float: left;
    height: 15%;
    padding: 5%;
    transition: 0.5s;
    width: 25%;
    &:hover {
        background: #444f59;
        color: #fff;
    }
}

.double {
    width: 50%;
}

.accent {
    &:hover {
        color: #f00;
    }
}

.submit {
    &:hover {
        background: #f00;
    }
}
