$color_1: #ff0000;
$color_2: #fff;
$font_family_1: Lato, sans-serif;

@import "https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&subset=latin,latin-ext";
@import "https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin,latin-ext";
body {
	font: 200%;
	height: 100vh;
	margin: 0;
	font-family: $font_family_1;
}
.calculator {
	height: 100%;
	margin: 0 auto;
	max-width: 400px;
}
.output {
	box-sizing: border-box;
	color: $color_1;
	font-size: 48pt;
	height: 25%;
	padding: 10% 5% 5%;
	text-align: right;
}
.button {
	box-sizing: border-box;
	cursor: pointer;
	float: left;
	height: 15%;
	padding: 5%;
	transition: .5s;
	width: 25%;
	&:hover {
		background: #444f59;
		color: $color_2;
	}
}
.double {
	width: 50%;
}
.accent {
	&:hover {
		color: $color_1;
	}
}
.submit {
	&:hover {
		background: #ff0000;
	}
}
